@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --palette-1: #d53637;
  --palette-2: #b89c96;
  --palette-3: #961c79;
  --palette-4: #48888f;
  --palette-5: #68bb8c;
}

@font-face {
  font-family: "Foco Bold" ;
  src: url('./../asset/font/foco-bold.ttf');
}


@font-face {
  font-family: "SpaceMono Regular";
  src: url('./../asset/font/SpaceMono-Regular.ttf');
}

.App{
  background-color: #020202;
  color: #dedede;
  margin: 0;
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landingPageNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0vh 3vh 0vh;
}

.landingPageMainVideo {
  height: 68vh;
  background-color: #aaa;
}

.landingPageMainText {
  height: 20vh;
}

.landingPageTitle {
  text-align: center;
  font-size: 50px;
  height: 50%;
}

.landingPageSubtitle {
  height: 50%;
  text-align: center;
  font-size: 20px;
}

.sideNav {
  flex-grow: 0; /* default 0 */
}

.sideNav img{
  max-width: 100%;
  max-height: 100%;
}
div a {
  text-decoration: none;
  color: white;
}

hr{
  border: 1px solid #dedede;
}
.bi{
  color:#dedede;
}

.landingPageButton{
  padding: 10px 30px 10px;
  text-align: center;
  background-color: #000;
  color:white;
  border: 3px solid #FFFFFF;
  font-size: 20px;
}

.landingPageVideo{
  background-color:  #aaa;
  min-height: 50vh;

}

.landingPageTheme{
  min-height: 50vh;
  /* padding: 50px; */
}

.btn8t {
  text-align: start;
}

iframe {
  pointer-events: none;
}

.btn8t{ 
  border: 2px solid var(--palette-2);
  color: white;
  background-color: #000;
  border-radius: 6px;
  padding: 0.5em 1em;
}

.headline{
  color: var(--palette-2);
  font-size: 20px;
}