.loginRegister{
    /* background: black; */
    color: black;
    background-image: url('/src/asset/franciszek-augustyniak-82I3FAg4YtU-unsplash.jpg');
    background-size: cover;
    height: 100vh;

}

.lrTitle {
    color: white;
}